
<p><a [routerLink]="['edit']">Edit Task 1</a></p>
<p><a [routerLink]="['history']">View Task 1 History</a></p>
<p><a [routerLink]="['history', 'edit']">Edit Task 1 History</a></p>
<hr>
<div>
    <h1>{{ task?.id }} - {{ task?.title }}</h1>
    <h3>Date Created: {{ task?.dateCreated }}</h3>
    <h3>Progress: {{ task?.progress }} %</h3>
</div>
<hr>
<p>Test that params observable works</p>
<p><a [routerLink]="['/tasks', 1]">View Task 1</a></p>
<p><a [routerLink]="['/tasks', 2]">View Task 2</a></p>
<p><a [routerLink]="['/tasks', 3]">View Task 3</a></p>
