
<div fxFlex fxLayout fxLayoutGap="10px" fxLayoutAlign="flex-end">
    <ul fxLayout>
        <li routerLinkActive="active"><a [routerLink]="['dashboard']">Dashboard</a></li>
        <li routerLinkActive="active"><a [routerLink]="['recorder']">Recorder</a></li>
        <li routerLinkActive="active"><a [routerLink]="['routines']">Routines</a></li>
        <li routerLinkActive="active"><a [routerLink]="['tasks']">Tasks</a></li>
        <li routerLinkActive="active"><a [routerLink]="['goals']">Goals</a></li>
        <li routerLinkActive="active"><a [routerLink]="['diary']">Diary</a></li>
    </ul>
</div>