  
  <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav role="navigation">Sidenav content</mat-sidenav>
      <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div fxFlex fxLayout="row" fxLayoutGap="10px">
                <i class="material-icons">queue_music</i>
                <h1>{{title}} - {{version}}</h1>
                <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
            </div>

            <app-tool-bar fxFlex></app-tool-bar>
        </mat-toolbar>
        <main>
          <router-outlet></router-outlet>
        </main>
      </mat-sidenav-content>
  </mat-sidenav-container>
