<p><a (click)="notify()">Click to Test the Snackbar Service</a></p>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. At iste non dolendi status non vocatur voluptas. 
	Conclusum est enim contra Cyrenaicos satis acute, nihil ad Epicurum. Sine ea igitur iucunde negat posse 
	se vivere? Quid in isto egregio tuo officio et tanta fide-sic enim existimo-ad corpus refers? Then go to... <a routerLink="../recorder">Recorder</a>
</p>
<p>
	Theophrasti igitur, inquit, tibi liber ille placet de beata vita? Quis est tam dissimile homini. Nummus 
	in Croesi divitiis obscuratur, pars est tamen divitiarum. Egone non intellego, quid sit don Graece, 
	Latine voluptas? Quae cum dixisset paulumque institisset, Quid est? Ergo illi intellegunt quid Epicurus 
	dicat, ego non intellego? Haec quo modo conveniant, non sane intellego. Aufert enim sensus actionemque 
	tollit omnem.  Then go to... <a routerLink="../routines">Routines</a>
</p>
<p>
	Et quidem Arcesilas tuus, etsi fuit in disserendo pertinacior, tamen noster fuit; Idem iste, inquam, de 
	voluptate quid sentit? Ita relinquet duas, de quibus etiam atque etiam consideret. Theophrastus 
	mediocriterne delectat, cum tractat locos ab Aristotele ante tractatos? Iubet igitur nos Pythius Apollo 
	noscere nosmet ipsos.  Then go to... <a routerLink="../tasks">Tasks</a>
</p>
<p>
	Eadem fortitudinis ratio reperietur. Quicquid porro animo cernimus, id omne oritur a sensibus; Ut 
	proverbia non nulla veriora sint quam vestra dogmata. Sed quid attinet de rebus tam apertis plura 
	requirere? Quod non faceret, si in voluptate summum bonum poneret. Quamquam ab iis philosophiam et 
	omnes ingenuas disciplinas habemus; Que Manilium, ab iisque M. Maximus dolor, inquit, brevis est. 
	Bonum negas esse divitias, praeposìtum esse dicis?  Then go to... <a routerLink="../diary">Diary</a>
</p>
<p>
	Sed tamen est aliquid, quod nobis non liceat, liceat illis. Consequens enim est et post oritur, ut 
	dixi. Quodsi ipsam honestatem undique pertectam atque absolutam. Itaque sensibus rationem adiunxit 
	et ratione effecta sensus non reliquit. Atque ut ceteri dicere existimantur melius quam facere, sic 
	hi mihi videntur facere melius quam dicere. Videmusne ut pueri ne verberibus quidem a contemplandis 
	rebus perquirendisque deterreantur?  Then go to... <a routerLink="../goals">Goals</a>
</p>
